<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' />
  <title>Bienvenidos</title>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      background-color: #f4f4f4;
      margin: 0px;
      padding: 20px;
    }

    table {
      width: 100%;
      max-width: 800px;
      margin: 20px auto;
      background-color: #ffffff;
      border-collapse: collapse;
      border-radius: 40px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0,
          0.1);
    }

    td {
      text-align: center;
      padding: 10px;
      color: black;
    }

    .header img {
      width: 80%;
      max-width: 600px;
      height: 350px;
      border-radius: 8px 8px 0 0;
    }

    .custom-button {
      width: 50%;
      height: 50px;
      border-radius: 40px;
      background-color: #5097c7;
      text-decoration: none;
      margin: 15px 0px;
      border: 0;
      transition: background-color 0.3s ease-in-out;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .square {
      width: 100px;
      height: 100px;
      margin: 10px;
      display: inline-block;
    }
  </style>
</head>

<body>

  <table>
    <tr>
      <td class='header'>
        <img src='cid:coverEmail' alt='Header' />
      </td>
    </tr>
    <tr>
      <td>
        <p style='margin-bottom: 20px; font-size: 20px;'><b>ESTIMADO/A
            {{name}}!</b></p>
        <p style='color: black; font-size: 15px; margin: auto; width:80%'>Es un placer darle la más cordial bienvenida
          al Center Hospital. Nos complace enormemente contar con su experiencia y talento en nuestro equipo. Su llegada
          no solo enriquece nuestro entorno profesional, sino que también fortalece nuestra capacidad para brindar
          atención médica excepcional a nuestros pacientes.</p>
      </td>
    </tr>
    <tr>
      <td>
        <p style='color: black; font-size: 15px; margin: auto; width:80%'>
          Estamos seguros de que su dedicación y habilidades contribuirán significativamente al bienestar de quienes
          confían en nosotros para su cuidado
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p style='color: black; font-size: 15px; margin: auto; width:80%'>Una vez más, le damos una calurosa bienvenida
          al equipo. Estamos emocionados de trabajar juntos y de alcanzar nuevos logros en el servicio de la salud.</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Para acceder a nuestra plataforma y explorar tu entorno de trabajo, te invitamos a hacer clic en el botón de
          registro. Esto te permitirá disfrutar de todas nuestras herramientas diseñadas para optimizar tu experiencia
          profesional. ¡Esperamos que encuentres esta plataforma útil y que te ayude a integrarte sin problemas a
          nuestro equipo!.</p>
      </td>
    </tr>
    <tr>
      <td>
        <a href='http://localhost:3000/SignUp'><button class='custom-button'
            style='box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);'><b>REGÍSTRATE</b></button></a>
      </td>
    </tr>
    <tr>
      <td>
        <p style='color: black; font-size: 15px; margin: auto; width:80%; margin-bottom: 20px;'>
          <b>¡Bienvenido a Center Hospital!</b>
        </p>
      </td>
    </tr>
    <tr>
      <td style='background-color: #5097c7;'>
        <p>Para <b>Center hospital</b>, tu salud es nuestro bienestar.</p>

        <p style='font-size: 10px; color: white'>Este mensaje a sido generado
          automáticamente. Por favor no lo respondas</p>
      </td>
    </tr>
  </table>

</body>

</html>