<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' />
  <title>Bienvenidos</title>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      background-color: #f4f4f4;
      margin: 0px;
      padding: 20px;
    }

    table {
      width: 100%;
      max-width: 800px;
      margin: 20px auto;
      background-color: #ffffff;
      border-collapse: collapse;
      border-radius: 40px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0,
          0.1);
    }

    td {
      text-align: center;
      padding: 10px;
      color: black;
    }

    .header img {
      width: 80%;
      max-width: 600px;
      height: 350px;
      border-radius: 8px 8px 0 0;
    }

    .custom-button {
      width: 50%;
      height: 50px;
      border-radius: 40px;
      background-color: #5097c7;
      text-decoration: none;
      margin: 15px 0px;
      border: 0;
      transition: background-color 0.3s ease-in-out;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .square {
      width: 100px;
      height: 100px;
      margin: 10px;
      display: inline-block;
    }
  </style>
</head>

<body>

  <table>
    <tr>
      <td class='header'>
        <img src='cid:coverEmail' alt='Header' />
      </td>
    </tr>
    <tr>
      <td>
        <p style='margin-bottom: 20px; font-size: 20px;'><b>ESTIMADO/A
            {{name}}!</b></p>
        <p style='color: black; font-size: 15px; margin: auto; width:80%'>Nos complace informarte que tu proceso de
          afiliación a <b>Center hospital</b> se ha completado con éxito.</p>
      </td>
    </tr>
    <tr>
      <td>
        <p style='color: black; font-size: 15px; margin: auto; width:80%'>
          En nombre de Center hospital, estamos comprometidos a brindarte una atención médica excepcional y un servicio
          de calidad. Tu bienestar es nuestra prioridad número uno. Estamos aquí para proporcionarte acceso a una amplia
          gama de servicios de salud, recursos y apoyo, para que puedas disfrutar de una vida saludable y plena.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p style='color: black; font-size: 15px; margin: auto; width:80%'>Te invitamos a registrarte en
          nuestra plataforma para acceder a todos nuestros servicios y recursos. ¡Haz clic en el botón a continuación
          para registrarte ahora!</p>
      </td>
    </tr>
    <tr>
      <td>
        <a href='http://localhost:3000/SignUp'><button class='custom-button'
            style='box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);'><b>REGÍSTRATE</b></button></a>
      </td>
    </tr>
    <tr>
      <td>
        <p style='color: black; font-size: 15px; margin: auto; width:80%; margin-bottom: 20px;'>
          <b>¡Bienvenido a Center Hospital!</b>
        </p>
      </td>
    </tr>
    <tr>
      <td style='background-color: #5097c7;'>
        <p>Para <b>Center hospital</b>, tu salud es nuestro bienestar.</p>

        <p style='font-size: 10px; color: white'>Este mensaje a sido generado
          automáticamente. Por favor no lo respondas</p>
      </td>
    </tr>
  </table>

</body>

</html>